@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8sDE0U1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE0U1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE0U1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8uDFEU1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8u6FEU1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8vdFEU1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8v0FEU1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-h4-1VQ.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-1VQ.woff2) format('woff2');
  }
  